# Diplodatos Kaggle Competition

We present this peace of code to create the baseline for the competition, and as an example of how to deal with these kind of problems. The main goals are that you:

1. Learn
1. Try different models and see which one fits the best the given data
1. Get a higher score than the given one in the current baseline example
1. Try to get the highest score in the class :)

In [37]:
# Import the required packages
import os

import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [21]:
# load the given labels
breed = pd.read_csv('../data/breed_labels.csv')
color = pd.read_csv('../data/color_labels.csv')
state = pd.read_csv('../data/state_labels.csv')

Now we take a look at the labels, just to understand what these are

In [22]:
breed.head()

   BreedID  Type         BreedName
0        1     1     Affenpinscher
1        2     1      Afghan Hound
2        3     1  Airedale Terrier
3        4     1            Akbash
4        5     1             Akita

In [23]:
color.head()

   ColorID ColorName
0        1     Black
1        2     Brown
2        3    Golden
3        4    Yellow
4        5     Cream

In [24]:
state

    StateID        StateName
0     41336            Johor
1     41325            Kedah
2     41367         Kelantan
3     41401     Kuala Lumpur
4     41415           Labuan
5     41324           Melaka
6     41332  Negeri Sembilan
7     41335           Pahang
8     41330            Perak
9     41380           Perlis
10    41327     Pulau Pinang
11    41345            Sabah
12    41342          Sarawak
13    41326         Selangor
14    41361       Terengganu

And now we are ready to deal with the *original* dataset...

In [25]:
original_df = pd.read_csv('../data/train.csv')

In [26]:
original_df.columns

Index(['Type', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2',
       'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed',
       'Sterilized', 'Health', 'Quantity', 'Fee', 'State', 'Description',
       'AdoptionSpeed', 'PID'],
      dtype='object')

In [27]:
original_df.describe()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,AdoptionSpeed,PID
count,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000,10582.000000
mean,1.454734,10.520412,265.469854,74.388868,1.779059,2.230675,3.236912,1.856738,1.860518,1.460971,1.729730,1.566528,1.912115,1.036666,1.584011,20.809960,41345.994613,2.518900,7477.025799
std,0.497970,18.374027,60.121490,123.434010,0.684763,1.743985,2.748595,2.974465,0.547535,0.593843,0.670791,0.701482,0.564041,0.198228,1.488348,78.397243,32.409109,1.176018,4310.921553
min,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,41324.000000,0.000000,0.000000
25%,1.000000,2.000000,265.000000,0.000000,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,2.000000,3768.250000
50%,1.000000,3.000000,266.000000,0.000000,2.000000,2.000000,2.000000,0.000000,2.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000,41326.000000,2.000000,7473.500000
75%,2.000000,12.000000,307.000000,188.000000,2.000000,3.000000,6.000000,5.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,0.000000,41401.000000,4.000000,11200.750000
max,2.000000,255.000000,307.000000,307.000000,3.000000,7.000000,7.000000,7.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,20.000000,3000.000000,41415.000000,4.000000,14992.000000

In [28]:
original_df.head()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,Description,AdoptionSpeed,PID
0,2,3,299,0,1,1,7,0,1,1,2,2,2,1,1,100,41326,Nibble is a 3+ month old ball of cuteness. He ...,2,0
1,1,4,307,0,2,1,2,0,2,1,1,1,2,1,1,150,41401,"Good guard dog, very alert, active, obedience ...",2,3
2,1,1,307,0,1,1,0,0,2,1,2,2,2,1,1,0,41326,This handsome yet cute boy is up for adoption....,2,4
3,2,3,266,0,2,5,6,0,2,1,2,2,2,1,1,0,41326,This is a stray kitten that came to my house. ...,2,5
4,2,12,264,264,1,1,0,0,2,3,2,2,3,1,1,300,41326,anyone within the area of ipoh or taiping who ...,1,6

Create a function to transform the datasets. This is done by means of a function so that the transformations are the same for the training and testing datasets... We replace the encodings just to make it easy to "visualize" the data

In [44]:
def transform_data(train_data_fname, test_data_fname):
    def transform_columns(df):
        df = df.drop(["Description"], axis=1)
        df.Type = df.Type.replace({1: 'Dog', 2: 'Cat'})
        df.Gender = df.Gender.replace({1:'Male', 2:'Female', 3:'Mixed'})
        df.MaturitySize = df.MaturitySize.replace({1:'S', 2:'M', 3:'L', 4:'XL', 0:'N/A'})
        df.FurLength = df.FurLength.replace({1:'S', 2:'M', 3:'L', 0:'N/A'})
        df.Vaccinated = df.Vaccinated.replace({1:'T', 2:'N', 3:'N/A'})
        df.Dewormed = df.Dewormed.replace({1:'T', 2:'F', 3:'N/A'})
        df.Sterilized = df.Sterilized.replace({1:'T', 2:'F', 3:'N/A'})
        df.Health = df.Health.replace({1:'Healthy', 2: 'MinorInjury', 3:'SeriousInjury', 0: 'N/A'})
        df.Color1 = df.Color1.replace(dict(list(zip(color.ColorID, color.ColorName)) + [(0, "N/A")]))
        df.Color2 = df.Color2.replace(dict(list(zip(color.ColorID, color.ColorName)) + [(0, "N/A")]))
        df.Color3 = df.Color3.replace(dict(list(zip(color.ColorID, color.ColorName)) + [(0, "N/A")]))
        df.Breed1 = df.Breed1.replace(dict(list(zip(breed.BreedID, breed.BreedName)) + [(0, "N/A")]))
        df.Breed2 = df.Breed2.replace(dict(list(zip(breed.BreedID, breed.BreedName)) + [(0, "N/A")]))
        return df
    
    df_train = pd.read_csv(train_data_fname)
    df_train = transform_columns(df_train)
    df_test = pd.read_csv(test_data_fname)
    df_test = transform_columns(df_test)
    
    df = pd.concat([df_train, df_test], sort=True)

    # set dummy variables for everything
    # except from Age, Quantity, Fee
    df = pd.get_dummies(df)
    # get train and test back
    n = len(df_train)
    df_train = df.iloc[:n]
    df_test = df.iloc[n:]
    
    y = df_train['AdoptionSpeed']
    X = df_train.drop('AdoptionSpeed', axis=1)
    yy = None
    XX = df_test.drop('AdoptionSpeed', axis=1)

    return X, y, XX, yy

Load the data...

In [45]:
X, y, XX, yy = transform_data("../data/train.csv", "../data/test.csv")

Create the model and evaluate it

In [51]:
# split training dataset into train and "validation" 
# (we won't be using validation set in this example, because of the cross-validation;
# but it couldn be useful for you depending on your approach)
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=42)

from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

results = pd.DataFrame(columns=('clf', 'best_acc'))

from sklearn.tree import DecisionTreeClassifier as DT
tree_param = {'criterion':('gini', 'entropy'), 'min_samples_leaf':(1, 2, 5),
              'min_samples_split':(10, 30, 130, 17, 59, 480)}
tree = DT(random_state=42)
tree_clf = GridSearchCV(tree, tree_param, scoring='accuracy', cv=3, iid=False)
tree_clf.fit(X_train.drop(["PID"], axis=1), y_train)
best_tree_clf = tree_clf.best_estimator_
print('Best Decision Tree accuracy: ', tree_clf.best_score_)
print(best_tree_clf)
results = results.append({'clf': best_tree_clf, 'best_acc': tree_clf.best_score_}, ignore_index=True)

print('The best classifier so far is: ')
print(results.loc[results['best_acc'].idxmax()]['clf'])

Best Decision Tree accuracy:  0.36951662142466396
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=480,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')
The best classifier so far is:
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=480,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [74]:
# split training dataset into train and "validation" 
# (we won't be using validation set in this example, because of the cross-validation;
# but it couldn be useful for you depending on your approach)
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=42)

from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

results = pd.DataFrame(columns=('clf', 'best_acc'))

from sklearn.tree import DecisionTreeClassifier as DT
tree_param = {'criterion':('gini', 'entropy'), 'min_samples_leaf':(1, 2, 5),
              'min_samples_split':(10, 30, 130, 17, 59, 480)}
tree = DT(random_state=42)
tree_clf = GridSearchCV(tree, tree_param, scoring='accuracy', cv=3, iid=False)
tree_clf.fit(X_train.drop(["PID"], axis=1), y_train)
best_tree_clf = tree_clf.best_estimator_
print('Best Decision Tree accuracy: ', tree_clf.best_score_)
print(best_tree_clf)
results = results.append({'clf': best_tree_clf, 'best_acc': tree_clf.best_score_}, ignore_index=True)

print('The best classifier so far is: ')
print(results.loc[results['best_acc'].idxmax()]['clf'])

Best Decision Tree accuracy:  0.36951662142466396
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=480,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')
The best classifier so far is:
DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=480,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [41]:
tree_clf.cv_results_

/home/ksan/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split0_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/home/ksan/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split1_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/home/ksan/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('split2_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/home/ksan/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('mean_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/home/ksan/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('std_train_score'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

{'mean_fit_time': array([0.06815966, 0.06616521, 0.05073516, 0.04633935, 0.0413723 ,
        0.04309162, 0.06756163, 0.0606935 , 0.05153592, 0.02885   ,
        0.02910479, 0.03009232, 0.06429489, 0.05902084, 0.05142021,
        0.04673004, 0.03909922, 0.04758716, 0.07956219, 0.05804324,
        0.03408058, 0.03364976, 0.04170648, 0.0461456 , 0.07869355,
        0.06576204, 0.05236363, 0.05807575, 0.05098955, 0.03681723,
        0.04745277, 0.05941065, 0.05679568, 0.04986175, 0.0483036 ,
        0.04821992]),
 'std_fit_time': array([0.0096125 , 0.00443667, 0.00505022, 0.00557405, 0.00370201,
        0.00787249, 0.0082631 , 0.00466263, 0.00722276, 0.00056356,
        0.0026215 , 0.00706376, 0.00861284, 0.00350697, 0.00687861,
        0.00462577, 0.00432278, 0.00766727, 0.0075041 , 0.00636111,
        0.00304655, 0.00280218, 0.00547837, 0.0079843 , 0.00680342,
        0.00863096, 0.00583458, 0.01760998, 0.00337068, 0.00863491,
        0.00275756, 0.0129679 , 0.00923026, 0.00582144, 0.00269993,
        0.00499677]),
 'mean_score_time': array([0.00404032, 0.00655564, 0.00512266, 0.00693059, 0.00419084,
        0.00677323, 0.00639828, 0.00515111, 0.00415699, 0.00272075,
        0.00270875, 0.0033381 , 0.00633295, 0.00668232, 0.0043474 ,
        0.00650438, 0.00425696, 0.00544413, 0.00566236, 0.00377941,
        0.00288248, 0.00298532, 0.00595546, 0.00606084, 0.00900253,
        0.00590992, 0.00511424, 0.00762232, 0.0074052 , 0.00349879,
        0.00299327, 0.00396347, 0.00579826, 0.00595291, 0.00712967,
        0.00530418]),
 'std_score_time': array([1.23370379e-03, 3.24684231e-03, 2.26827665e-03, 1.39398949e-03,
        1.04884827e-03, 3.30592501e-04, 2.64276392e-03, 1.31205598e-03,
        1.52417926e-03, 5.05313666e-05, 7.40202553e-05, 5.46900001e-04,
        2.24893088e-03, 1.54446967e-03, 1.08616479e-03, 2.07638743e-03,
        1.06941475e-03, 1.76799083e-03, 1.48705210e-04, 1.20857298e-03,
        2.52143851e-04, 2.61652656e-04, 3.11105789e-03, 6.36448234e-04,
        2.61159457e-03, 9.54991206e-04, 2.58035682e-03, 1.42101413e-03,
        4.96788908e-03, 9.78675480e-04, 1.14209108e-04, 1.03342155e-03,
        2.92810555e-03, 2.66467926e-03, 3.17106684e-03, 3.22202247e-03]),
 'param_criterion': masked_array(data=['gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'gini', 'gini', 'gini', 'gini',
                    'gini', 'gini', 'gini', 'gini', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy', 'entropy', 'entropy', 'entropy', 'entropy',
                    'entropy'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_leaf': masked_array(data=[1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5,
                    1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 5, 5],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_split': masked_array(data=[10, 30, 130, 170, 380, 500, 10, 30, 130, 170, 380, 500,
                    10, 30, 130, 170, 380, 500, 10, 30, 130, 170, 380, 500,
                    10, 30, 130, 170, 380, 500, 10, 30, 130, 170, 380, 500],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'gini',
   'min_samples_leaf': 1,
   'min_samples_split': 10},
  {'criterion': 'gini', 'min_samples_leaf': 1, 'min_samples_split': 30},
  {'criterion': 'gini', 'min_samples_leaf': 1, 'min_samples_split': 130},
  {'criterion': 'gini', 'min_samples_leaf': 1, 'min_samples_split': 170},
  {'criterion': 'gini', 'min_samples_leaf': 1, 'min_samples_split': 380},
  {'criterion': 'gini', 'min_samples_leaf': 1, 'min_samples_split': 500},
  {'criterion': 'gini', 'min_samples_leaf': 2, 'min_samples_split': 10},
  {'criterion': 'gini', 'min_samples_leaf': 2, 'min_samples_split': 30},
  {'criterion': 'gini', 'min_samples_leaf': 2, 'min_samples_split': 130},
  {'criterion': 'gini', 'min_samples_leaf': 2, 'min_samples_split': 170},
  {'criterion': 'gini', 'min_samples_leaf': 2, 'min_samples_split': 380},
  {'criterion': 'gini', 'min_samples_leaf': 2, 'min_samples_split': 500},
  {'criterion': 'gini', 'min_samples_leaf': 5, 'min_samples_split': 10},
  {'criterion': 'gini', 'min_samples_leaf': 5, 'min_samples_split': 30},
  {'criterion': 'gini', 'min_samples_leaf': 5, 'min_samples_split': 130},
  {'criterion': 'gini', 'min_samples_leaf': 5, 'min_samples_split': 170},
  {'criterion': 'gini', 'min_samples_leaf': 5, 'min_samples_split': 380},
  {'criterion': 'gini', 'min_samples_leaf': 5, 'min_samples_split': 500},
  {'criterion': 'entropy', 'min_samples_leaf': 1, 'min_samples_split': 10},
  {'criterion': 'entropy', 'min_samples_leaf': 1, 'min_samples_split': 30},
  {'criterion': 'entropy', 'min_samples_leaf': 1, 'min_samples_split': 130},
  {'criterion': 'entropy', 'min_samples_leaf': 1, 'min_samples_split': 170},
  {'criterion': 'entropy', 'min_samples_leaf': 1, 'min_samples_split': 380},
  {'criterion': 'entropy', 'min_samples_leaf': 1, 'min_samples_split': 500},
  {'criterion': 'entropy', 'min_samples_leaf': 2, 'min_samples_split': 10},
  {'criterion': 'entropy', 'min_samples_leaf': 2, 'min_samples_split': 30},
  {'criterion': 'entropy', 'min_samples_leaf': 2, 'min_samples_split': 130},
  {'criterion': 'entropy', 'min_samples_leaf': 2, 'min_samples_split': 170},
  {'criterion': 'entropy', 'min_samples_leaf': 2, 'min_samples_split': 380},
  {'criterion': 'entropy', 'min_samples_leaf': 2, 'min_samples_split': 500},
  {'criterion': 'entropy', 'min_samples_leaf': 5, 'min_samples_split': 10},
  {'criterion': 'entropy', 'min_samples_leaf': 5, 'min_samples_split': 30},
  {'criterion': 'entropy', 'min_samples_leaf': 5, 'min_samples_split': 130},
  {'criterion': 'entropy', 'min_samples_leaf': 5, 'min_samples_split': 170},
  {'criterion': 'entropy', 'min_samples_leaf': 5, 'min_samples_split': 380},
  {'criterion': 'entropy', 'min_samples_leaf': 5, 'min_samples_split': 500}],
 'split0_test_score': array([0.32388664, 0.33279352, 0.37489879, 0.37368421, 0.35910931,
        0.35991903, 0.32469636, 0.3340081 , 0.37489879, 0.37368421,
        0.35910931, 0.35991903, 0.31862348, 0.34210526, 0.36477733,
        0.37368421, 0.35789474, 0.35789474, 0.31417004, 0.33036437,
        0.3465587 , 0.35870445, 0.35951417, 0.35587045, 0.30769231,
        0.33076923, 0.3465587 , 0.35870445, 0.35951417, 0.35587045,
        0.31781377, 0.32591093, 0.34696356, 0.35951417, 0.35991903,
        0.3562753 ]),
 'split1_test_score': array([0.31429729, 0.34143378, 0.34831916, 0.35398947, 0.36897529,
        0.37586067, 0.31915755, 0.34426893, 0.34831916, 0.35398947,
        0.36897529, 0.37586067, 0.32523289, 0.34021871, 0.3491292 ,
        0.3527744 , 0.36897529, 0.37586067, 0.29769137, 0.31875253,
        0.35074929, 0.36168489, 0.37707574, 0.37181045, 0.30457675,
        0.32077764, 0.35074929, 0.36168489, 0.37707574, 0.37181045,
        0.30741191, 0.32482787, 0.35520454, 0.36046983, 0.37707574,
        0.37181045]),
 'split2_test_score': array([0.31969206, 0.3452188 , 0.35089141, 0.35696921, 0.37601297,
        0.37439222, 0.32374392, 0.34886548, 0.35089141, 0.35696921,
        0.37601297, 0.37439222, 0.32414911, 0.33792545, 0.34643436,
        0.35494327, 0.37601297, 0.37439222, 0.30591572, 0.3363047 ,
        0.3719611 , 0.36628849, 0.37277147, 0.3719611 , 0.31199352,
        0.3363047 , 0.3719611 , 0.36628849, 0.37277147, 0.3719611 ,
        0.31645057, 0.32982172, 0.37074554, 0.36588331, 0.37277147,
        0.3719611 ]),
 'mean_test_score': array([0.31929199, 0.33981537, 0.35803645, 0.36154763, 0.36803252,
        0.37005731, 0.32253261, 0.34238084, 0.35803645, 0.36154763,
        0.36803252, 0.37005731, 0.32266849, 0.34008314, 0.35344696,
        0.3604673 , 0.36762767, 0.36938254, 0.30592571, 0.32847387,
        0.35642303, 0.36222595, 0.36978713, 0.36654733, 0.30808753,
        0.32928386, 0.35642303, 0.36222595, 0.36978713, 0.36654733,
        0.31389208, 0.3268535 , 0.35763788, 0.36195577, 0.36992208,
        0.36668229]),
 'std_test_score': array([0.00392504, 0.00520009, 0.01196962, 0.00866765, 0.00693301,
        0.00719387, 0.00241799, 0.0062107 , 0.01196962, 0.00866765,
        0.00693301, 0.00719387, 0.00289427, 0.00170909, 0.00808696,
        0.00938762, 0.00745787, 0.0081452 , 0.00672739, 0.00728927,
        0.01111947, 0.00311972, 0.00747359, 0.00754995, 0.00304075,
        0.00642532, 0.01111947, 0.00311972, 0.00747359, 0.00754995,
        0.00461585, 0.00214491, 0.00986024, 0.00280446, 0.00728823,
        0.0073591 ]),
 'rank_test_score': array([33, 27, 19, 16,  7,  1, 32, 25, 19, 16,  7,  1, 31, 26, 24, 18,  9,
         6, 36, 29, 22, 13,  4, 11, 35, 28, 22, 13,  4, 11, 34, 30, 21, 15,
         3, 10], dtype=int32),
 'split0_train_score': array([0.71257849, 0.54830869, 0.44075349, 0.4182702 , 0.39376139,
        0.38869759, 0.67834717, 0.54263723, 0.44055094, 0.4182702 ,
        0.39376139, 0.38869759, 0.61069475, 0.51954628, 0.43609479,
        0.41685234, 0.39234353, 0.39092566, 0.68381608, 0.52967389,
        0.41948552, 0.40510431, 0.39355884, 0.39335629, 0.66356087,
        0.52663561, 0.41948552, 0.40510431, 0.39355884, 0.39335629,
        0.59955439, 0.50475998, 0.4178651 , 0.40530687, 0.39254608,
        0.39234353]),
 'split1_train_score': array([0.71972458, 0.5635885 , 0.43904415, 0.42628595, 0.40097205,
        0.39671932, 0.6745646 , 0.55488052, 0.43904415, 0.42628595,
        0.40097205, 0.39671932, 0.60834346, 0.52895909, 0.43236128,
        0.4236533 , 0.3999595 , 0.39671932, 0.68590522, 0.52511138,
        0.42628595, 0.41899554, 0.39752936, 0.39550425, 0.66443904,
        0.52227623, 0.42628595, 0.41899554, 0.39752936, 0.39550425,
        0.60449575, 0.51660591, 0.42770352, 0.41980559, 0.39712434,
        0.39550425]),
 'split2_train_score': array([0.72140109, 0.56671391, 0.44826888, 0.43510832, 0.39967605,
        0.38955254, 0.67969225, 0.55395829, 0.44826888, 0.43510832,
        0.39967605, 0.38955254, 0.61510427, 0.53310387, 0.44401701,
        0.43227374, 0.39967605, 0.38955254, 0.68698117, 0.53188905,
        0.42802187, 0.42174529, 0.39805629, 0.38995748, 0.65863535,
        0.52925693, 0.42802187, 0.42174529, 0.39805629, 0.38995748,
        0.60538571, 0.51143956, 0.42842681, 0.42134035, 0.39805629,
        0.38995748]),
 'mean_train_score': array([0.71790139, 0.55953703, 0.44268884, 0.42655482, 0.3981365 ,
        0.39165648, 0.67753467, 0.55049201, 0.44262132, 0.42655482,
        0.3981365 , 0.39165648, 0.61138083, 0.52720308, 0.43749103,
        0.42425979, 0.39732636, 0.39239917, 0.68556749, 0.52889144,
        0.42459778, 0.41528172, 0.3963815 , 0.39293934, 0.66221175,
        0.52605626, 0.42459778, 0.41528172, 0.3963815 , 0.39293934,
        0.60314528, 0.51093515, 0.42466514, 0.41548427, 0.3959089 ,
        0.39260175]),
 'std_train_score': array([0.00382558, 0.00804151, 0.00400692, 0.00687676, 0.00313858,
        0.00359694, 0.00217076, 0.00556692, 0.00404053, 0.00687676,
        0.00313858, 0.00359694, 0.0028024 , 0.00567243, 0.00485977,
        0.00631035, 0.00352529, 0.00310581, 0.00131402, 0.00282174,
        0.00368373, 0.00728354, 0.00200748, 0.00228357, 0.00255419,
        0.00287916, 0.00368373, 0.00728354, 0.00200748, 0.00228357,
        0.00256501, 0.00484922, 0.00481741, 0.00722374, 0.00240812,
        0.00227181])}

## Prueba con SVC

In [52]:
from sklearn.svm import SVC
import numpy as np
from sklearn.svm import SVC

In [72]:
clf = SVC(gamma='auto')
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [73]:
print(clf.score(X_train,y_train))

0.680032401782098

In [76]:
#Hago la prediccion con los datos de validacion
result = clf.predict(X_valid)
result = result.astype(np.int)

In [99]:
##Cruzo los datos de validacion con los del XX para submission
submission = pd.DataFrame(list(zip(XX.PID, result)), columns=["PID", "AdoptionSpeed"])
submission
##ver si subir este o no.

        PID  AdoptionSpeed
0         1              4
1         2              3
2         7              4
3         9              2
4        11              2
5        12              2
6        25              4
7        33              4
8        34              4
9        35              1
10       43              2
11       50              1
12       51              4
13       52              4
14       53              4
15       55              4
16       62              1
17       67              2
18       69              1
19       70              1
20       73              2
21       74              2
22       75              3
23       76              1
24       80              2
25       86              4
26       88              2
27       91              4
28       92              2
29       94              1
...     ...            ...
3145  10817              1
3146  10822              4
3147  10827              3
3148  10828              1
3149  10835              2
3150  10837              2
3151  10840              4
3152  10842              4
3153  10845              1
3154  10847              2
3155  10848              4
3156  10853              4
3157  10856              4
3158  10858              3
3159  10860              2
3160  10865              2
3161  10867              4
3162  10874              4
3163  10879              1
3164  10888              2
3165  10890              2
3166  10892              3
3167  10902              4
3168  10908              2
3169  10913              4
3170  10914              4
3171  10920              4
3172  10924              4
3173  10926              4
3174  10929              2

[3175 rows x 2 columns]

**And finally**, we predict the unknown label for the testing set

In [93]:
X.shape, XX.shape

((10582, 360), (4411, 360))

In [94]:
yy = results.clf.iloc[0].predict(XX.drop(["PID"], axis=1))
yy = yy.astype(np.int)

The last thing we do is generating a file that should be *submitted* on kaggle

In [35]:
submission = pd.DataFrame(list(zip(XX.PID, yy)), columns=["PID", "AdoptionSpeed"])

In [36]:
submission.to_csv("../data/submission.csv", header=True, index=False)